@{
    /**/

    ViewBag.Title = "Home Page";
}


<div class="container" ng-controller="CursoController">

    <form>
        <div class="form-row">
            <div class="form-group col-md-12 text-center">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 text-center">
                <h4>Cadastro de Cursos</h4>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nome" ng-model="dado.Nome">
            </div>
        </div>
        <button type="button" ng-click="adicionar(dado)" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cursos">
                <td>{{item.Id}}</td>
                <td>{{item.Nome}}</td>
                <td><a href="" ng-click="atualizar(item)">editar</a></td>
            </tr>
        </tbody>
    </table>
</div>
